@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Quicksand";
    src: url("../../public/fonts/Quicksand-VariableFont_wght.ttf");
}

html {
    background-color: rgb(243, 246, 239);
}
